Repository w3c/sdw, pull requests merged in 2018-03, with the labels that each got.

#1000 added rdf documents, and implemented fixes for errata 998 and 999
  ssn/errata.html
  ssn/index.html
  ssn/integrated/proposed-server-specification.md
  ssn/integrated/sosa.rdf
  ssn/integrated/ssn-dul.rdf
  ssn/integrated/ssn-dul.ttl
  ssn/integrated/ssn-system.rdf
  ssn/integrated/ssn-system.ttl
  ssn/integrated/ssn.rdf
  ssn/integrated/ssnx.rdf
  ssn/integrated/ssnx.ttl
Labels: ssn

#1012 ssn extensions
  proposals/ssn-extensions/config.js
  proposals/ssn-extensions/images/observation-collection.png
  proposals/ssn-extensions/images/observation-foi-patterns.png
  proposals/ssn-extensions/images/sampling-foi-patterns.png
  proposals/ssn-extensions/index.html
  proposals/ssn-extensions/rdf/ssn-ext.ttl
Labels: enhancement, ssn

#1018 Implemented fix for errata #1017
  ssn/errata.html
  ssn/index.html
  ssn/integrated/examples/tree-height-sosa.ttl
  ssn/integrated/examples/tree-height.ttl
Labels: errata, ssn

#1013 [SSN] Fix Apartment 134 example for real as noted in #996
  ssn/index.html
Labels: ssn

#1016 [SSN] Fix typo in Examples 10 and 11 and add erratum
  ssn/errata.html
  ssn/index.html
  ssn/integrated/examples/apartment-134-sosa.ttl
  ssn/integrated/examples/apartment-134.ttl
Labels: errata, ssn
