Repository w3c/sdw, pull requests merged in 2019-11, with the labels that each got.

#1112 [SSN] Add erratum for bad IP68 Smart Sensor link
  ssn/errata.html
Labels: errata, ssn

#1145 SSN Extensions - re-org document, unit tests
  proposals/ssn-extensions/images/OC-instance-1.png
  proposals/ssn-extensions/images/OC-instance-1.svg
  proposals/ssn-extensions/images/OC-instance-2.png
  proposals/ssn-extensions/images/OC-instance-2.svg
  proposals/ssn-extensions/images/OC-instance-3.png
  proposals/ssn-extensions/images/OC-instance-3.svg
  proposals/ssn-extensions/images/OC-instance-4.png
  proposals/ssn-extensions/images/OC-instance-4.svg
  proposals/ssn-extensions/images/observation-foi-patterns.png
  proposals/ssn-extensions/images/sampling-foi-patterns.png
  proposals/ssn-extensions/index.html
  proposals/ssn-extensions/rdf/examples/MODIS-t-series.ttl
  proposals/ssn-extensions/rdf/examples/MODIS-t.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OA1.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OA2.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OA3.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OC1-1.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OC1-2.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-SA1.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-SA2.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-SA3.ttl
  proposals/ssn-extensions/rdf/ssn-ext-tests-target.jsonld
  proposals/ssn-extensions/rdf/ssn-ext-tests-target.ttl
  proposals/ssn-extensions/rdf/ssn-ext-tests.jsonld
  proposals/ssn-extensions/rdf/ssn-ext-tests.ttl
  proposals/ssn-extensions/rdf/ssn-ext.jsonld
  proposals/ssn-extensions/rdf/ssn-ext.nt
  proposals/ssn-extensions/rdf/ssn-ext.rdf
  proposals/ssn-extensions/rdf/ssn-ext.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test1-result.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test1.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test2-result.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test2.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test3-result-1.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test3-result-2.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test3.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test4-result.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test4.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-tests.ttl
  proposals/ssn-extensions/small.css
  proposals/ssn-extensions/style.css
Labels: enhancement, ssn-ext

#1148 Create 2019-11-19_WebVMTProgress.pdf
  proposals/geotagging/webvmt/meetings/2019-11-19_WebVMTProgress.pdf
Labels: webvmt

#1147 Add geology sample-chain example
  proposals/ssn-extensions/images/Observation foi patterns.svg
  proposals/ssn-extensions/images/Sampling foi patterns.svg
  proposals/ssn-extensions/images/SamplingChainGeology.png
  proposals/ssn-extensions/images/SamplingChainGeology.svg
  proposals/ssn-extensions/images/observation-foi-patterns.png
  proposals/ssn-extensions/images/sampling-foi-patterns.png
  proposals/ssn-extensions/index.html
  proposals/ssn-extensions/rdf/examples/Sample-chain-geology.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-OA3.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-SA2.ttl
  proposals/ssn-extensions/rdf/examples/ssn-ext-SA3.ttl
  proposals/ssn-extensions/rdf/ssn-ext.ttl
  proposals/ssn-extensions/rdf/tests/ssn-ext-test3-result-1.ttl
Labels: ssn, ssn-ext
